<%- include('./parts/head') %>

    <%- include('./parts/nav') %>



    <% x=truck.weight  , number=0%>
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <h5>Before Parcels</h5>
            <p>Number of Parcels : <%= number%></p>
            <p>weight of truck : <%= x %></p>
        </div>
    </div>
    <% parcels.forEach(parcel => { %>
        
       <div class="container" style="margin-top: 20px;">
           <div class="row">
               <%number=number+1%>
               <% x+=parcel.weight %>
            <h5>@<%= parcel.createdAt%></h5>
            <p>Number of Parcels : <%= number%></p>
            <p>weight of parcel : <%= parcel.weight %></p>
            <p>weight of truck : <%= x %></p>
            <p>name of truck : <%= parcel.TruckId %></p>
           </div>
       </div>

    <% })%>



    
<%- include('./parts/footer') %>